<DOCTYPE! html>
<html>
    <head>
        <title>Sign up!</title>
    </head>

    <body>

         <p> You are now one of us. <br></br>
            Email: {{ email }} <br> </br>
            Password: {{ password }}<br> </br>
            Zipcode: {{ zipcode }}<br> </br>
            Age: {{ age }}<br></br>
           
        </p>
    </body>
    Want to:
    <form>
        <select name = "action_dropdown">
        <option value = "rate_movies"> Rate movies? </option>
        <option value = "view_ratings"> View your ratings? </option>
        <option value = "recommend"> Get a recommendation? </option>
    </form>
</html>
