<DOCTYPE! html>
<html>
    <head>
        <title>Sign up!</title>
    </head>

    <body>

        <form action="/signupdone" method="POST">
            <label>Email:<input type="text" name="email" required></input></label><br />
            <label>Password:<input type="text" name="password" required></input></label><br />
            <label>Zipcode:<input type="text" name="zipcode" required></input></label><br />
            <label>Age:<input type="number" name="age" required></input></label><br />
        <input type="submit">
            
    
        </form>

    </body>
</html>
