<DOCTYPE! html>
<html>
<h1>Oh, Hello.</h1>

<h4> Log in: </h4>
<form action="/login" method="POST">
    <label>Email:<input type="text" name="em" required></input></label><br />
    <label>Password:<input type="text" name="pw" required></input></label><br />
    <input type="submit" value="Log me in!">
</form>

<br></br>
<h4> Or sign up: </h4>

<form action="/signup" method="POST">
            <label>Email:<input type="text" name="email" required></input></label><br />
            <label>Password:<input type="text" name="password" required></input></label><br />
            <label>Zipcode:<input type="text" name="zipcode" required></input></label><br />
            <label>Age:<input type="number" name="age" required></input></label><br />
    <input type="submit" value="Sign me up!">

</form>


</html>